releases/trunk/schemas/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">


	<xsd:complexType name="a" >
		<xsd:attribute name="x" type="xsd:string"/>
	</xsd:complexType>

	<xsd:element name="b" type="a" />

	<xsd:element name="c" type="xsd:string"/>

		<xsd:element name="extension">
			<xsd:complexType >
				<xsd:complexContent>
					<xsd:extension base="a">
						<xsd:sequence minOccurs="1" maxOccurs="unbounded" >
							<xsd:element ref="b" />
							<xsd:element ref="c" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:element>

</xsd:schema>