releases/tags/release-2006-05-02/schemas/akomantoso10.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ENTITY % PredefinedSimpleTypes SYSTEM "./pst.dtd">
%PredefinedSimpleTypes;

<!--  =====================================================================
Akoma Ntoso main schema


Release  25/04/2006
Fabio Vitali - University of Bologna

The present schema uses systematically XML design patterns as
described in http://www.xmlpatterns.com/
A few of them are explicitly mentioned, when their use or approach
was not felt clear or natural enough. Others are just used without
mentions.
=====================================================================  -->
<!--  =====================================================================

Main element groups

=====================================================================  -->
<!ENTITY % ANhier "section | part | paragraph | chapter | article" >
<!ENTITY % ANcontainers "div" >
<!ENTITY % ANblock "toc" >
<!ENTITY % ANinline "ref | def" >
<!ENTITY % ANtitleInline "ActType | ActTitle | ActNumber | ActProponent | ActDate | ActPurpose" >
<!ENTITY % ANmarker "noteref | recordedTime" >
<!ENTITY % HTMLcontainers "div" >
<!ENTITY % HTMLblock "p | ul | ol | table" >
<!ENTITY % HTMLinline "span | b | i | a" >
<!ENTITY % HTMLmarker "img" >
<!ENTITY % hierElements "%ANhier; | hcontainer" >
<!ENTITY % containerElements "%HTMLcontainers; | container" >
<!ENTITY % blockElements "%ANblock; | %HTMLblock; | block" >
<!ENTITY % inlineElements "%ANinline; | %HTMLinline; | inline | %ANtitleInline;" >
<!ENTITY % markerElements "%ANmarker; | %HTMLmarker; | marker" >
<!--  =====================================================================

Attribute groups

=====================================================================  -->
<!ENTITY % name " name  CDATA #REQUIRED" >
<!ENTITY % source " source  CDATA #REQUIRED" >
<!ENTITY % date " date  CDATA #REQUIRED" >
<!ENTITY % time " time  CDATA #REQUIRED" >
<!ENTITY % link " href  CDATA #REQUIRED" >
<!ENTITY % numb " numbering (on|off) 'off' " >
<!ENTITY % statusType "(omissis|repealed|suspended)" >
<!ENTITY % enactment " start  CDATA #IMPLIED end  CDATA #IMPLIED status %statusType; #IMPLIED" >
<!ENTITY % cellattrs " rowspan  CDATA '1'  colspan  CDATA '1' " >
<!ENTITY % HTMLattrs " class  CDATA #IMPLIED style  CDATA #IMPLIED title  CDATA #IMPLIED" >
<!ENTITY % idref " idref  CDATA #REQUIRED" >
<!ENTITY % idreq " id  CDATA #REQUIRED" >
<!ENTITY % idopt " id  CDATA #IMPLIED" >
<!ENTITY % corereq " %HTMLattrs;  %enactment;  %idreq; " >
<!ENTITY % coreopt " %HTMLattrs;  %enactment;  %idopt; " >
<!--  =====================================================================

Simple types (data values)

=====================================================================  -->
<!ENTITY % VersionType "(OriginalVersion|SingleVersion|MultipleVersions)" >
<!ENTITY % EventType "(Generation|Amendment|Repeal)" >
<!ENTITY % RefType "(Original|Passive|Active|Jurisprudence|HasAttachment|IsAttachment)" >
<!--  =====================================================================

Complex types (markup structures)

=====================================================================  -->
<!ENTITY % hierarchy "(num?,title?,(%hierElements;)+)" >
<!ENTITY % althierarchy "(num?,title?,(subdivision | speech | question)*)" >
<!ENTITY % blocksreq "(%blockElements;)+" >
<!ENTITY % blocksopt "(%blockElements;)+" >
<!ENTITY % inline "(#PCDATA |%inlineElements; | %markerElements;)*" >
<!ENTITY % markerreq "EMPTY" >
<!ENTITY % markeropt "EMPTY" >
<!ENTITY % referenceType "EMPTY" >
<!--  =====================================================================

Root element
Comment: One generic root element contains all document elements
Pattern: Universal Root
Reference: http://www.xmlpatterns.com/UniversalRootMain.shtml

=====================================================================  -->
<!ENTITY % DocumentTypes "(act | bill | doc | report | minutes)" >
<!ELEMENT akomantoso %DocumentTypes; >
<!ATTLIST akomantoso xmlns CDATA #FIXED "http://www.akomantoso.org/1.0">
<!--  =====================================================================

Document elements
Comment: All document elements share just two content models
Pattern: Consistent Element Set
Reference: http://www.xmlpatterns.com/ConsistentElementSetMain.shtml

=====================================================================  -->
<!ENTITY % HierarchicalStructure "(meta,preface?,preamble?,clauses,conclusions?,attachments?)" >
<!ENTITY % OpenStructure "(meta,preface?,preamble?,maincontent,conclusions?,attachments?)" >
<!ENTITY % DebateStructure "(meta,preface?,debate,conclusions?,attachments?)" >
<!ELEMENT act %HierarchicalStructure; >
<!ELEMENT bill %HierarchicalStructure; >
<!ELEMENT doc %OpenStructure; >
<!ELEMENT report %OpenStructure; >
<!ELEMENT minutes %DebateStructure; >
<!--  =====================================================================

AN common containers elements

=====================================================================  -->
<!ELEMENT preface %blocksopt; >
<!ELEMENT preamble %blocksopt; >
<!ELEMENT conclusions %blocksopt; >
<!ELEMENT attachments (attachment+)>
<!ELEMENT attachment %referenceType; >
<!ELEMENT clauses (%hierElements;)+>
<!ELEMENT debate (subdivision+)>
<!ELEMENT maincontent (%hierElements; | subdivision | item | %blockElements;)+>
<!ATTLIST maincontent %numb;  >
<!--  =====================================================================

Elements for hierarchical documents

=====================================================================  -->
<!ELEMENT section %hierarchy; >
<!ELEMENT part %hierarchy; >
<!ELEMENT paragraph %hierarchy; >
<!ELEMENT chapter %hierarchy; >
<!ENTITY % ArticleType "(num?,title?,clause+)" >
<!ELEMENT article %ArticleType; >
<!ENTITY % ClauseType "(num?,title?,(%blockElements;)+)" >
<!ELEMENT clause %ClauseType; >
<!ELEMENT num %inline; >
<!ELEMENT title %inline; >
<!ELEMENT subtitle %inline; >
<!--  =====================================================================

Elements for debates documents

=====================================================================  -->
<!ELEMENT subdivision %althierarchy; >
<!ELEMENT speech %blocksreq; >
<!ATTLIST speech by  CDATA #REQUIRED >
<!ELEMENT question %blocksreq; >
<!ATTLIST question by  CDATA #REQUIRED >
<!ENTITY % itemType "(num?,title?,subtitle?,(item | %blockElements;)+)" >
<!ELEMENT item %itemType; >
<!ATTLIST item %numb;  >
<!--  =====================================================================

AN block elements
Comment: the only AN-specific block is the table of content (TOC),
a structure containing toc items related to the various subparts of the
main document.

=====================================================================  -->
<!ELEMENT toc (tocitem+)>
<!ELEMENT tocitem %inline; >
<!ATTLIST tocitem %idref;  level  CDATA #REQUIRED >
<!--  =====================================================================

AN inline elements
Comment: AN-specific inline elements are connected to the
identification of elements that are corresponding to an inline
legal structure, regardless of their position in the document.

=====================================================================  -->
<!ELEMENT ActType %inline; >
<!ELEMENT ActTitle %inline; >
<!ELEMENT ActNumber %inline; >
<!ELEMENT ActProponent %inline; >
<!ELEMENT ActDate %inline; >
<!ELEMENT ActPurpose %inline; >
<!ELEMENT ref %inline; >
<!ATTLIST ref %link;  >
<!ELEMENT def %inline; >
<!ELEMENT noteref %markeropt; >
<!ATTLIST noteref num  CDATA #REQUIRED %link;  >
<!ELEMENT recordedTime %markeropt; >
<!ATTLIST recordedTime %time;  >
<!ENTITY % mod_entity "#PCDATA |quotedText | quotedStructure | %inlineElements; | %markerElements;" >

<!ELEMENT mod (%mod_entity;)*>
<!ATTLIST mod %coreopt;  >
<!ELEMENT quotedText %inline; >
<!ELEMENT quotedStructure (%hierElements; | %blockElements; | %containerElements;)+>
<!ATTLIST quotedStructure %corereq;  >
<!--  =====================================================================

Generic elements
Comment: All elements in this schema fall under one of five
content models: hierarchical container, container, block, inline
and mark. Besides named elements, the schema also provides for a
generic element for each of them, that can be used for markup that
fits the content models but can be specified by a precise name that
is not used in this schema. The 'name' attribute must be used for
naming the element.
It is also a characteristic of this schema that all named elements
are equivalent, and can be substituted to, the corresponding generic
element with their name as the value of the name attribute. Thus, by
definition, <p> = <block name="p">, <part> = <hcontainer name="part">,
<act> = <container name="act">, etc.
Pattern: Generic Document + Role Attribute
Reference: http://www.xmlpatterns.com/GenericDocumentMain.shtml +
http://www.xmlpatterns.com/RoleAttributeMain.shtml

=====================================================================  -->
<!ELEMENT hcontainer %hierarchy; >
<!ELEMENT container %blocksreq; >
<!ELEMENT block %inline; >
<!ELEMENT inline %inline; >
<!ELEMENT marker %markerreq; >
<!ATTLIST hcontainer %name;  >
<!ATTLIST container %name;  >
<!ATTLIST block %name;  >
<!ATTLIST inline %name;  >
<!ATTLIST marker %name;  >
<!--  =====================================================================

HTML elements
Comment: Many elements are drawn directly from HTML 4.0
Pattern: Reuse Document Types (partial)
Reference: http://www.xmlpatterns.com/ReuseDocumentTypesMain.shtml

=====================================================================  -->
<!ELEMENT div %blocksreq; >
<!ELEMENT p %inline; >
<!ENTITY % li_entity "#PCDATA |ul | ol | %inlineElements; | %markerElements;" >

<!ELEMENT li (%li_entity;)*>
<!ATTLIST li %coreopt;  >
<!ELEMENT span %inline; >
<!ELEMENT b %inline; >
<!ELEMENT i %inline; >
<!ELEMENT a %inline; >
<!ATTLIST a %link;  target  CDATA #IMPLIED >
<!ELEMENT img %markeropt; >
<!ATTLIST img src  CDATA #REQUIRED alt  CDATA #IMPLIED width  CDATA #IMPLIED height  CDATA #IMPLIED >
<!ELEMENT ul (li+)>
<!ELEMENT ol (li+)>
<!ELEMENT table (tr+)>
<!ATTLIST table %HTMLattrs;  width  CDATA #IMPLIED border  CDATA #IMPLIED cellspacing  CDATA #IMPLIED cellpadding  CDATA #IMPLIED >
<!ELEMENT tr (th | td)+>
<!ATTLIST tr %HTMLattrs;  >
<!ELEMENT th %inline; >
<!ELEMENT td %inline; >
<!ATTLIST th %cellattrs;  >
<!ATTLIST td %cellattrs;  >
<!--  =====================================================================

Metadata elements for acts, bills and generic documents

=====================================================================  -->
<!ENTITY % MetaSection "(descriptor,lifecycle?,persons?,notes*,proprietary*)" >
<!ELEMENT meta %MetaSection; >
<!ELEMENT descriptor (publication,otherpublications?,enactmentDate,editors,uri+,alias*,keywords?)>
<!ENTITY % publicationType "EMPTY" >
<!ELEMENT otherpublications (ripublication | errata)+>
<!ELEMENT publication %publicationType; >
<!ELEMENT ripublication %publicationType; >
<!ELEMENT errata %publicationType; >
<!ELEMENT enactmentDate %markeropt; >
<!ATTLIST enactmentDate %date;  >
<!ELEMENT editors (editor+)>
<!ELEMENT editor %markerreq; >
<!ATTLIST editor %date;  name  CDATA #REQUIRED uri  CDATA #IMPLIED contribution  CDATA #IMPLIED >
<!ELEMENT uri %markeropt; >
<!ATTLIST uri %link;  >
<!ELEMENT alias %markeropt; >
<!ATTLIST alias value  CDATA #REQUIRED >
<!ELEMENT keywords (keyword+)>
<!ATTLIST keywords dictionary  CDATA #REQUIRED >
<!ELEMENT keyword %markeropt; >
<!ATTLIST keyword value  CDATA #REQUIRED >
<!ELEMENT lifecycle (events?,references)>
<!ELEMENT events (event+)>
<!ELEMENT event %markerreq; >
<!ATTLIST event %date;  %source;  type %EventType; #IMPLIED >
<!ELEMENT references (reference+)>
<!ELEMENT reference %referenceType; >
<!ELEMENT persons (person+)>
<!ELEMENT person %markerreq; >
<!ATTLIST person short  CDATA #IMPLIED long  CDATA #REQUIRED >
<!ELEMENT notes (note)+>
<!ELEMENT note %blocksreq; >
<!ELEMENT proprietary ANY>
<!ATTLIST proprietary %source;  >
<!--  =====================================================================

End of Schema

=====================================================================  -->
<!ATTLIST section %corereq;  >
<!ATTLIST part %corereq;  >
<!ATTLIST paragraph %corereq;  >
<!ATTLIST chapter %corereq;  >
<!ATTLIST hcontainer %corereq;  >
<!ATTLIST subdivision %corereq;  >
<!ATTLIST speech %corereq;  >
<!ATTLIST question %corereq;  >
<!ATTLIST container %corereq;  >
<!ATTLIST div %corereq;  >
<!ATTLIST note %corereq;  >
<!ATTLIST preface %coreopt;  >
<!ATTLIST preamble %coreopt;  >
<!ATTLIST conclusions %coreopt;  >
<!ATTLIST num %coreopt;  >
<!ATTLIST title %coreopt;  >
<!ATTLIST subtitle %coreopt;  >
<!ATTLIST tocitem %coreopt;  >
<!ATTLIST ActType %coreopt;  >
<!ATTLIST ActTitle %coreopt;  >
<!ATTLIST ActNumber %coreopt;  >
<!ATTLIST ActProponent %coreopt;  >
<!ATTLIST ActDate %coreopt;  >
<!ATTLIST ActPurpose %coreopt;  >
<!ATTLIST ref %coreopt;  >
<!ATTLIST def %coreopt;  >
<!ATTLIST quotedText %coreopt;  >
<!ATTLIST block %coreopt;  >
<!ATTLIST inline %coreopt;  >
<!ATTLIST p %coreopt;  >
<!ATTLIST span %coreopt;  >
<!ATTLIST b %coreopt;  >
<!ATTLIST i %coreopt;  >
<!ATTLIST a %coreopt;  >
<!ATTLIST th %coreopt;  >
<!ATTLIST td %coreopt;  >
<!ATTLIST marker %corereq;  >
<!ATTLIST editor %corereq;  >
<!ATTLIST event %corereq;  >
<!ATTLIST person %corereq;  >
<!ATTLIST noteref %coreopt;  >
<!ATTLIST recordedTime %coreopt;  >
<!ATTLIST img %coreopt;  >
<!ATTLIST enactmentDate %coreopt;  >
<!ATTLIST uri %coreopt;  >
<!ATTLIST alias %coreopt;  >
<!ATTLIST keyword %coreopt;  >
<!ATTLIST attachment %corereq;  %link;  type %RefType; #REQUIRED >
<!ATTLIST reference %corereq;  %link;  type %RefType; #REQUIRED >
<!ATTLIST act contains %VersionType; 'OriginalVersion'  >
<!ATTLIST bill contains %VersionType; 'OriginalVersion'  >
<!ATTLIST doc contains %VersionType; 'OriginalVersion'  >
<!ATTLIST report contains %VersionType; 'OriginalVersion'  >
<!ATTLIST minutes contains %VersionType; 'OriginalVersion'  >
<!ATTLIST article %corereq;  >
<!ATTLIST clause %corereq;  >
<!ATTLIST item %corereq;  >
<!ATTLIST publication %coreopt;  %date;  type  CDATA #REQUIRED num  CDATA #IMPLIED >
<!ATTLIST ripublication %coreopt;  %date;  type  CDATA #REQUIRED num  CDATA #IMPLIED >
<!ATTLIST errata %coreopt;  %date;  type  CDATA #REQUIRED num  CDATA #IMPLIED >
