archived/release-2006-11-23/schemas/test-test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
elementFormDefault="qualified" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>


	<xsd:complexType name="a" >
		<xsd:attribute name="x" type="xsd:string"/>
	</xsd:complexType>

	<xsd:element name="b">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="a" />
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>